{
  "irc_username": "username",
  "irc_realname": "realname",
  "irc_nickname": "nickname",
  "irc_password": "nickserv-password",
  "irc_server"  : "irc.somenetwork.net:6667",
  "irc_channel" : "#channel"
}
